.form{
    position: absolute;
    top: 44.5%;
    left: 64%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 60%;
}
.heading{
    color: #04285A;
    letter-spacing: 2px;
    position: absolute;
    top: 5%;
    left: 7%;
}
.details{
    letter-spacing: 1.5px;
    position: absolute;
    top: 23%;
    left: 7%;
    width: 82%;
}

.details p{
    margin-bottom: 5%;
}
.details b{
    color: #04285A;
}
.grandTotal{
    font-size: 20px;
    position: absolute;
    top: 77.5%;
    left: 90%;
}
.err{
    position: absolute;
    top: 90%;
    color: red;
} 